In [1]:
import csv

In [2]:
with open ("D:\\23bca275\\python\\sqlite-tools-win-x64-3460000\\csv\\emp12.csv") as f:
    r=csv.reader(f)
    for row in r:
        print(row)

['eid', 'ename', 'salary']
['1', 'sufiyan', '15000']
['2', 'adil', '9000']
['3', 'ammar', '8000']
['4', 'monu', '7000']
['5', 'sajid', '12000']
['6', 'vicky', '6000']
['7', 'shoaib', '13000']
['8', 'vikas', '14000']

In [3]:
import sqlite3 as sq

In [4]:
conn=sq.connect("D:/23bca275/python/sqlite-tools-win-x64-3460000/Database/emp.27")

In [5]:
cur=conn.cursor()

In [9]:
s="select * from emp12 where salary > 10000"

In [10]:
cur.execute(s)

OperationalError: no such table: emp12