create table emp(empid,empname,salary) and insert 8 records.print only those records where salary>10000 and write
thos data into salary.csv file. Do all this task from python.

In [25]:
import sqlite3 as sq

In [26]:
import csv

In [35]:
conn=sq.connect("D:/pythonSQL/sqlite-tools-win-x64-3460000/database/emp275.db")

In [36]:
cur=conn.cursor()

In [37]:
cur.execute("create table if not exists emp28(eid,ename,salary)")

In [38]:
cur.execute("insert into emp28 values(1,'om',9000)")

In [39]:
cur.execute("insert into emp28 values(2,'sa',8000)")

In [40]:
cur.execute("insert into emp28 values(3,'ram',8000)")

In [41]:
cur.execute("insert into emp28 values(4,'sufiyan',16000)")

In [42]:
cur.execute("insert into emp28 values(5,'saif',11000)")

In [43]:
cur.execute("insert into emp28 values(6,'sajid',10000)")

In [44]:
cur.execute("insert into emp28 values(7,'adil',9500)")

In [45]:
cur.execute("insert into emp28 values(8,'ammar',6000)")

In [52]:
cur.execute("select * from emp28 where salary > 10000")

In [53]:
rec=cur.fetchall()

In [54]:
print(rec)

[(4, 'sufiyan', 16000), (5, 'saif', 11000)]

In [59]:
f = open("D:\\pythonSQL\\sqlite-tools-win-x64-3460000\\csv\\b.csv","w")

In [63]:
wo = csv.writer(f, delimiter = ',')

In [65]:
wo.writerow([(4, 'sufiyan', 16000), (5, 'saif', 11000)])

46

In [66]:
f.close()

In [ ]:
-